<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>

    <div class="wrapper">

        <header th:replace="fragments/header"></header>
        <div style="background-color: #eee;">
            <form>
                <p class="h1 mb-4 d-flex justify-content-center">Add offer</p>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="d-flex justify-content-center">
                    <div class="row" style="width: 36%;">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form6Example1" class="form-control" />
                                <label class="form-label" for="form6Example1">Title</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                    <span id="passwordHelpInline" class="form-text text-danger">
                        invalid title!
                    </span>
                </div>
                <!-- Select shoe -->
                <div class="d-flex justify-content-center">
                    <select class="form-select mt-4 d-flex justify-content-center" aria-label="Default select example"
                        style="width: 34%;">
                        <option selected>Select shoe</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                </div>
                <div class="col-auto d-flex justify-content-center">
                    <span id="passwordHelpInline" class="form-text text-danger">
                        Unselected shoe!
                    </span>
                </div>

                <!-- Number input -->
                <div class="d-flex justify-content-center">
                    <div class="form-outline mt-4" style="width: 34%;">
                        <input type="number" id="form6Example6" class="form-control" />
                        <label class="form-label" for="form6Example6">Price</label>
                    </div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                    <span id="passwordHelpInline" class="form-text text-danger">
                        Invalid price!
                    </span>
                </div>


                <!-- Select gender -->
                <div class="d-flex justify-content-center">
                    <select class="form-select mt-4 d-flex justify-content-center" aria-label="Default select example"
                        style="width: 34%;">
                        <option selected>Select gender</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-auto d-flex justify-content-center">
                    <span id="passwordHelpInline" class="form-text text-danger">
                        Unselected gender!
                    </span>
                </div>

                <!-- Number input -->
                <div class="d-flex justify-content-center">
                    <div class="form-outline mt-4" style="width: 34%;">
                        <input type="number" id="form6Example6" class="form-control" />
                        <label class="form-label" for="form6Example6">Size</label>
                    </div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                    <span id="passwordHelpInline" class="form-text text-danger">
                        invalid size!
                    </span>
                </div>

                <!-- Message input -->
                <div class="d-flex justify-content-center">
                    <div class="form-outline mt-4" style="width: 34%;">
                        <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                        <label class="form-label" for="form6Example7">Additional information</label>
                    </div>
                </div>

                <!-- Choose file -->
                <div class="d-flex justify-content-center">
                    <div class="form-group mt-4" style="width: 34%;">
                        <label for="exampleInputFile">Choose offer image:</label>
                        <span class="btn btn-primary btn-file">
                            Upload <input type="file">
                        </span>

                    </div>
                </div>


                <!-- Submit button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block mt-4">Place order</button>
                </div>
            </form>
        </div>

        <footer th:replace="fragments/footer"></footer>
    </div>
</body>

</html>