<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>

    <div class="wrapper">

        <header th:replace="fragments/header"></header>
        <form
                class="registration-form"
                th:action="@{/brand/add}"
                th:method="post"
                th:object="${brandCreateDTO}"
                enctype="multipart/form-data">
        <div style="background-color: #eee;">
            <form>
                <p class="h1 mb-4 d-flex justify-content-center">Add brand</p>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="d-flex justify-content-center">
                    <div class="row" style="width: 36%;">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form6Example1" class="form-control" name="name"
                                       th:field="*{name}" />
                                <label class="form-label" for="form6Example1">Name</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                    <span th:if="${#fields.hasErrors('name')}" id="passwordHelpInline" class="form-text text-danger">
                        invalid name!
                    </span>
                </div>

                <!-- Message input -->
                <div class="d-flex justify-content-center">
                    <div class="form-outline mb-4" style="width: 34%;">
                        <textarea class="form-control" id="form6Example7" rows="4" name="description"
                                  th:field="*{description}"></textarea>
                        <label class="form-label" for="form6Example7">Additional information</label>
                    </div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                    <span th:if="${#fields.hasErrors('description')}" id="passwordHelpInline" class="form-text text-danger">
                        Include description!
                    </span>
                </div>
                <!-- Choose file -->
                <div class="d-flex justify-content-center">
                    <div class="form-group mt-4" style="width: 34%;">
                        <label>Choose brand logo:</label>
                        <span class="btn btn-primary">
                            Upload <input type="file" name="image"
                                          required
                                          id="image"
                                          class="form-control-file"
                                          aria-describedby="image" th:field="*{image}">
                        </span>
                    </div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                    <span th:if="${#fields.hasErrors('image')}" id="passwordHelpInline" class="form-text text-danger">
                         Not inserted image!
                    </span>
                </div>


                <!-- Submit button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block mt-4">Add brand</button>
                </div>
            </form>
        </div>

        <footer th:replace="fragments/footer"></footer>
    </div>
</body>

</html>