<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>


    <div class="wrapper">
        <header th:replace="fragments/header"></header>

        <div style="background-color: #eee;">
            <div class="d-flex align-content-between flex-wrap">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">
                            <div class="card">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                                    alt="Skyscrapers" />
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>


                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">
                            <div class="card">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                                    alt="Skyscrapers" />
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>


                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">
                            <div class="card">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                                    alt="Skyscrapers" />
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>


                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">

                            <div class="card">
                                <div class="bg-image hover-zoom">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                        class="card-img-top" alt="Skyscrapers" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">

                            <div class="card">
                                <div class="bg-image hover-zoom">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                        class="card-img-top" alt="Skyscrapers" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">

                            <div class="card">
                                <div class="bg-image hover-zoom">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                        class="card-img-top" alt="Skyscrapers" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">

                            <div class="card">
                                <div class="bg-image hover-zoom">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                        class="card-img-top" alt="Skyscrapers" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">

                            <div class="card">
                                <div class="bg-image hover-zoom">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                        class="card-img-top" alt="Skyscrapers" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">

                            <div class="card">
                                <div class="bg-image hover-zoom">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                        class="card-img-top" alt="Skyscrapers" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">

                            <div class="card">
                                <div class="bg-image hover-zoom">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                        class="card-img-top" alt="Skyscrapers" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://where-you-want-to-redirect" class="text-decoration-none">

                            <div class="card">
                                <div class="bg-image hover-zoom">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                        class="card-img-top" alt="Skyscrapers" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center d-flex justify-content-between">
                                <p class="text-dark text-decoration-none">nike air force</p>
                                <p class="text-dark text-decoration-none">150 BGN</p>
                            </div>
                        </a>
                    </div>



                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <footer th:replace="fragments/footer"></footer>

    </div>
</body>

</html>