<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>
    <div class="wrapper">
        <!-- Navigation -->
        <header th:replace="fragments/header"></header>

        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">

                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-2 mx-5">

                            <li class="breadcrumb mb-0 breadcrumb-item active" aria-current="page">Brand details</li>

                        </nav>
                    </div>
                </div>

                <div class="row mt-5 mx-5">



                    <div class="card">

                        <div class="card-body">
                            <p class="mb-1"><span class="font-italic me-1">Brand image</span></p>

                            <a><img th:src="${brand.imageUrl}"
                                    style="height: 250px; width: 320px;" class="rounded mx-auto d-block mb-3"
                                    alt="..."></a>

                        </div>

                    </div>
                </div>

                <div class="row mt-5 mx-5">
                    <div class="card">

                        <div class="card-body">
                            <h2 class="mb-4"><span class="font-italic me-1">Description</span></h2>

                            <p th:text="${brand.description}" >aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaxaxax</p>


                        </div>

                    </div>
                </div>



            </div>
        </section>
        <footer th:replace="fragments/footer"></footer>
    </div>
</body>

</html>