<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>
    <div class="wrapper">
        <!-- Navigation -->
        <header th:replace="fragments/header"></header>

        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/images/indexImage1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">Nike</h5>
                        <p class="text-white">Special offer</p>
                        <button type="button" class="btn btn-outline-primary">Visit offer</button>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/pumaIndexPage.jpg" class="d-block w-100" alt="...">

                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">Puma</h5>
                        <p class="text-white">Since 1948</p>
                        <button type="button" class="btn btn-outline-primary">Visit offer</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/adidasIndexPage.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">Adidas</h5>
                        <p class="text-white">Since 1924</p>
                        <button type="button" class="btn btn-outline-primary">Visit offer</button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>

        <p class="h1 mb-4 mt-4 d-flex justify-content-center">Top search</p>

        <div class="row mt-5 ml-3 mr-3 mx-5">
            <div th:object="${shoe1}" class="col-sm-6 mb-3 mb-sm-0">
                <img class="card-img-top" th:src="${shoe1.imageUrl}"
                    alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${shoe1.name}">Shoe</h5>
                        <a th:href="@{/shoe/details/{shoeId}(shoeId = ${shoe1.id})}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" th:object="${shoe2}">
                <img class="card-img-top" th:src="${shoe2.imageUrl}"
                    alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${shoe2.name}">Shoe</h5>
                        <a th:href="@{/shoe/details/{shoeId}(shoeId = ${shoe2.id})}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>

        <p class="h1 mb-4 mt-4 d-flex justify-content-center">Most wanted</p>

        <div class="row mx-5 mt-5">
            <div class="col mx-5">
                <div class="card" style="width: 18rem;" th:object="${brand1}">
                    <img class="card-img-top" th:src="${brand1.imageUrl}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${brand1.name}">Brand</h5>
                        <a th:href="@{/brand/details/{brandId}(brandId = ${brand1.id})}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>

            <div class="col mx-5">
                <div class="card" style="width: 18rem;" th:object="${brand2}">
                    <img class="card-img-top" th:src="${brand2.imageUrl}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${brand2.name}">Brand</h5>
                        <a th:href="@{/brand/details/{brandId}(brandId = ${brand2.id})}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>

            <div class="col mx-4">
                <div class="card" style="width: 18rem;" th:object="${brand3}">
                    <img class="card-img-top" th:src="${brand3.imageUrl}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${brand3.name}">Brand</h5>
                        <a th:href="@{/brand/details/{brandId}(brandId = ${brand3.id})}" class="btn btn-primary">Details</a>
                    </div>
            </div>

        </div>
        <footer th:replace="fragments/footer"></footer>
    </div>
</body>

</html>