<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>
    <div class="wrapper">
        <!-- Navigation -->
        <header th:replace="fragments/header"></header>

        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">

                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">

                            <li class="breadcrumb mb-0 breadcrumb-item active" aria-current="page">Offer details</li>

                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4" th:object="${seller}">
                        <div class="card mb-4">
                            <div  class="card-body text-center">
                                <p class="h1 mb-4 d-flex justify-content-center">Seller</p>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3" th:text="${seller.fullName}">John Smith</h5>
                                <p class="text-muted mb-4" th:text="${seller.description}">Full Stack Developer</p>
                                <div class="d-flex justify-content-center mb-2">

                                </div>
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li th:object="${brand}" class="list-group-item d-flex justify-content-center align-items-center p-3">
                                        <a th:href="@{/brand/details/{brandId}(brandId = ${brand.id})}" class="mb-0 text-decoration-none userEntity-select-none">Brand details</a>
                                    </li>
                                    <li th:object="${shoe}" class="list-group-item d-flex justify-content-center align-items-center p-3">
                                        <a th:href="@{/shoe/details/{shoeId}(shoeId = ${shoe.id})}" class="mb-0 text-decoration-none userEntity-select-none">Shoe details</a>
                                    </li>
                                    <li th:if="${!sameUser}" class="list-group-item d-flex justify-content-center align-items-center p-3">
                                        <button type="button" class="btn btn-primary">Buy offer</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body" th:object="${offer}">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0" >Title</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text = "${offer.title}">Johnatan Smith</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Description</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text = "${offer.description}">example@example.com</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Price</p>
                                    </div>
                                    <div class="col-sm-9 d-flex">
                                        <p class="text-muted mb-0" th:text = "${offer.price}">(098) 765-4321</p>
                                        <p class="text-muted mb-0">$</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body" th:object="${shoe}">
                                        <p class="mb-4"><span class="font-italic me-1">Shoe details</span></p>

                                        <a  th:href="@{/shoe/details/{shoeId}(shoeId = ${shoe.id})}"><img th:src="${shoe.imageUrl}"
                                                style="height: 250px; width: 320px;" class="rounded mx-auto d-block"
                                                alt="..."></a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">

                                    <div class="card-body">
                                        <div class="container-fade" th:object ="${offer}">
                                            <p class="mb-4"><span class="font-italic me-1">Offer image</span></p>
                                            <a><img
                                                    th:src="${offer.imageUrl}"
                                                    style="height: 250px; width: 320px;"
                                                    class="rounded mx-auto d-block image-fade" alt="..."></a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card mt-4">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Comments</p>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h4 class="mb-2">Author</h4>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-3">
                                                messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddeddddddddddddddddddddddddd
                                            </p>

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">2023-04-04 10:58</p>
                                        </div>
                                        <button type="button"
                                            class="btn btn-outline-danger ms-1 d-flex justify-content-center"
                                            style="width: 30%;">Delete</button>
                                    </div>
                                    <hr>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </section>
        <footer th:replace="fragments/footer"></footer>
    </div>
</body>

</html>